/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;

  --ion-font-family: "Montserrat", sans-serif;
}
