.c-pic {
  position: absolute;
}
.c-pic:nth-of-type(2) {
  -webkit-clip-path: polygon(0 40%, 100% 60%, 100% 100%, 0% 100%);
  clip-path: polygon(0 40%, 100% 60%, 100% 100%, 0% 100%);
}

.c-pic-right {
  background-position: -100px -200px;
  background-size: 700px;
}

.c-pic-right-2 {
  background-position: -400px -100px;
  background-size: 1100px;
  background-repeat: no-repeat;
}

.c-pic-left {
  background-position: -200px 300px;
  background-size: 700px;
}
